/* You can add global styles to this file, and also import other style files */

@import "~font-awesome/css/font-awesome.min.css";
table>:not(caption)>*>*>* {
    padding: 0.5rem 0.5rem;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
    border: none!important;
}

app-product-item {
    border: none;
}